body{font-family: SolaimanLipi;font-size: 23px;line-height: 25px;}
.header_center h1 {
font-family: solaimanlipi;
font-size: 75px;}
.header_center h2 {
  font-family: solaimanlipi;
  font-style: normal;
  line-height: 20px;
}
.single_middle_content > h2 {
font-family: solaimanlipi;
font-size: 40px;
}
.single_middle_content > p {
  font-family: solaimanlipi;
}
.content_right .single_content_right.headmaster_style h2 {
  font-family: solaimanlipi;
  font-size: 40px;
}
.left_content_single_widget > h2 {
  font-family: solaimanlipi;
  font-size: 30px;
}
.single_content_right > h2 {
  font-family: solaimanlipi;
  font-size: 30px;
}
.middle_content_hub h2 {
  font-family: solaimanlipi;
  font-size: 30px;
}
.left_content_single_widget > ul > li > a {
  font-family: solaimanlipi;
  font-size: 20px;
}
.single_content_right > ul > li > a {
  font-size: 20px;
  font-family: solaimanlipi;
}
.school_name_readmore {
  font-family: solaimanlipi;
  font-size: 22px;
}
.teachers h2 {
  font-family: solaimanlipi;
  font-size: 30px;
}
.single_main_content_bottom h2 {
  font-family: solaimanlipi;
  font-size: 30px;
}
.single_footer_widget > h2 {
  font-family: solaimanlipi;
  font-size: 30px;
}
.single_footer_widget > ul > li > a {
  font-family: solaimanlipi;
  font-size: 20px;
}
.single_footer_widget > p {
  font-size: 20px;
}
.page_content p {
  font-family: solaimanlipi;
  font-size: 25px;
  line-height: 30px;
}
.notice_text {
  font-family: solaimanlipi;
  font-size: 24px;
}
.page_title h2 {
  font-family: solaimanlipi;
  font-size: 35px;
}
.std_school_info h1 {
  font-family: solaimanlipi;
  font-size: 75px;
}
.std_form_meddle_meddle h2 {
  font-family: solaimanlipi;
  font-size: 40px;
}